<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>@ViewBag.Title</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <h1>Die DWX ist Mist, total Mist!</h1>
</body>
</html>
